<p id="notice"><%= notice %></p>

<h1>Chat</h1>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
    <hr />
    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "field", role: "form"}) do |f| %>
        <%= f.text_area :content, class: "form-control", data: { behavior: "room_speaker" }, placeholder: "Chat now!" %>
        <%= f.submit "Send", class: 'btn', data: { send: "message" } %>
      <% end %>
    </div>
  </div>
</div>
