<p id="notice"><%= notice %></p>

<h1>Members' Forum</h1>

<p>This is where we broadcast information about upcoming events, so stay tuned!</p>
<p>Members can also use this channel to chat with each other in real time.</p>

<div class="chat-container">
  <div class="col-md-8a">
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
    <hr />
    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "field", role: "form"}) do |f| %>
        <%= f.text_area :content, class: "form-control", placeholder: "Chat now!" %>
        <%= f.submit "Send", class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>

<!-- render @messages takes messages instance variable initiated in the show action (from chatrooms controller)
      and uses the partial in messages/_message.html.erb for each message -->
<!-- adding remote: true submits the form via AJAX -->
