<p id="notice"><%= notice %></p>

<p>
  <% unless @user.image.empty? %>
   <%= image_tag @user.image, :alt => @user.name, :id => 'profile-image'%>
 <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<% if @current_user.present? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', users_path %>
