<p id="notice"><%= notice %></p>

    <div class ="badges">
      <% @user.badges.each do |b| %>
        <%= image_tag b.image, :alt => b.description, :class => 'thumb1' %>
      <% end %>
    </div>

    <!-- `Badge.where('score <= ?', @user.score)` -->

<p>
  <% if @user.image.present? %>
   <%= image_tag @user.image, :alt => @user.name, :id => 'profile-image'%>
 <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<% if @current_user.present? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', users_path %>


<div class="container1">
  <div id="column2">
   <div id="user-map"></div>
   <script>
   function initMap() {
     var location = {lat: <%= @user.latitude %> , lng: <%= @user.longitude %>};
     var map = new google.maps.Map(document.getElementById('user-map'), {
       zoom: 4,
       center: location
     });
     var marker = new google.maps.Marker({
       position: location,
       map: map
     });
   }
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlFfN3j68LOw1bsZwi62WyOons6y3KZ9Q&callback=initMap">
   </script>
  </div>
</div>
