<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @achievement.task_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @achievement.user_id %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
