

<!-- <%= params.inspect %> -->

  <header>
    <div class="navBarTop">
      <% if @current_user.present? %>
        <%= link_to "#{@current_user.name}'s page", user_path(session[:user_id]), class:'navBarT' %>
        <%= link_to 'Sign out', login_path, :method => 'delete', class:'navBarT' %>
      <% end %>
      <!-- <%=  link_to cl_image_tag("homepage1") %> -->
      <%=  link_to image_tag("homepage1.jpg") %>
    </div>
  </header>

  <nav>
  <div class="navBarBottom">
  <% if @current_user.present? %>
      <%= link_to 'Home', home_path ,class:"navBar #{ 'active' if params[:controller] == 'pages'}"%>
      <%= link_to 'Tasks', tasks_path ,class:"navBar #{ 'active' if params[:controller] == 'tasks'}"%>
      <%= link_to 'ScoreBoard', users_scoreboard_path ,class:"navBar #{ 'active' if params[:controller] == 'users'}"%>
      <%= link_to 'Forum', forum_path, class:"navBar #{ 'active' if params[:controller] == 'chatrooms'}"%>
      <%= link_to 'Donate', new_charge_path ,class:"navBar #{ 'active' if params[:controller] == 'charges'}"%>
      <%= link_to 'Events', events_path ,class:"navBar #{ 'active' if params[:controller] == 'events'}"%>
  <% end %>

</div>


</nav>
