<!DOCTYPE html>
<html>
  <head>
    <title>Project2Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>

        <% if @current_user.present? && @current_user.admin %>
            <%= link_to 'Home', home_path %>
            <%= link_to 'Members', users_path %>
            <%= link_to 'Create new Task', new_task_path %>
            <%= link_to 'Achievements', achievements_path %>
          <% elsif @current_user.present? && !@current_user.admin%>
            <%= link_to 'Home', home_path %>
            <%= link_to 'Members', users_path %>
            <%= link_to 'Tasks', tasks_path %>
            <%= link_to 'Achievements', achievements_path %>
        <% end %>

      <div>

      </div>

      <div>
        <% if @current_user.present? %>
          <%= link_to "#{@current_user.name}'s page", user_path(session[:user_id]) %>
          <%= link_to 'Sign out', login_path, :method => 'delete' %>
        <% else %>
          <%= link_to 'SIGN IN', login_path %>
        <% end %>
      </div>

      </nav>

        <%= yield %>
    </div>

  </body>
</html>
