<!DOCTYPE html>
<html>
  <head>
    <title>EcoSmart App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

        <%= render 'layouts/navigation' %>

        <%= yield %>
    </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlFfN3j68LOw1bsZwi62WyOons6y3KZ9Q&callback=initMap">
    </script>

    <%= render 'layouts/footer' %>
  </body>
</html>
